@using MovieShopApp.Models

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Admin)
{
    <button class="sell-btn btn btn-success btn-lg">
        @Html.ActionLink("SELL", "Create")
    </button>
}


<div class="container">


    <div class="divider-wrapper">
        <p>
            LATEST MOVIES
        </p>
        <div class="divider">

        </div>
    </div>


    @foreach (Movie item in ViewBag.moviesAbove)
    {
        var img_url = Html.DisplayFor(modelItem => item.ImageUrl);
        var plot = Html.DisplayFor(modelItem => item.Plot);
        var price = Html.DisplayFor(modelItem => item.Price);

            <div class='imgWrap'>
                <img src=@img_url alt='jason_bourne movie image' />
                <div class="img-hover">
                    <p>@plot</p>
                    <p>@price</p>
                    <div class="btn-group">
                        <div class="btn btn-default">
                            @Html.ActionLink("MORE", "Details", "Movies", new { id = item.ID }, null)
                        </div>
                        <button class="btn btn-success">ADD <span class="glyphicon glyphicon-shopping-cart" /></button>
                    </div>
                </div>
            </div>

    }




    <div class="divider-wrapper">
        <p>
            HOT SALE UNDER 4$
        </p>
        <div class="divider">

        </div>
    </div>

    @foreach (Movie item in ViewBag.moviesBelow)
    {
        var img_url = Html.DisplayFor(modelItem => item.ImageUrl);
        var plot = Html.DisplayFor(modelItem => item.Plot);
        var price = Html.DisplayFor(modelItem => item.Price);

        <div class='imgWrap'>
            <img src=@img_url alt='jason_bourne movie image' />
            <div class="img-hover">
                <p>@plot</p>
                <p>@price</p>
                <div class="btn-group">
                    <button class="btn btn-default">
                        <a href="Movies/Details/@item.ID">
                            MORE
                         </a>
                    </button>
                   

                    <button class="btn btn-success">ADD <span class="glyphicon glyphicon-shopping-cart" /></button>
                </div>
            </div>
        </div>

    }

</div>
